<div class="row signup-container">
    <!-- Form Section -->
    <div class="col-md-5 form-section">
        <div class="container">
            <h3 class="mb-3">Sign up</h3>
            <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
                <!-- First Name -->
                <div class="mb-3">
                    <label for="firstname" class="form-label">First Name*</label>
                    <input type="text" id="firstname" class="form-control" formControlName="first_name"
                        placeholder="Enter your first name" />
                    <small *ngIf="signupForm.get('firstname')?.invalid && signupForm.get('firstname')?.touched"
                        class="text-danger">
                        First Name is required.
                    </small>
                </div>
                <!-- Last Name -->
                <div class="mb-3">
                    <label for="lastname" class="form-label">Last Name*</label>
                    <input type="text" id="lastname" class="form-control" formControlName="last_name"
                        placeholder="Enter your last name" />
                    <small *ngIf="signupForm.get('lastname')?.invalid && signupForm.get('lastname')?.touched"
                        class="text-danger">
                        Last Name is required.
                    </small>
                </div>
                <!-- Email -->
                <div class="mb-3">
                    <label for="email" class="form-label">Email*</label>
                    <input type="email" id="email" class="form-control" formControlName="email"
                        placeholder="Enter your email" />
                    <small *ngIf="signupForm.get('email')?.invalid && signupForm.get('email')?.touched"
                        class="text-danger">
                        Please enter a valid email.
                    </small>
                </div>
                <!-- Password -->
                <div class="mb-3">
                    <label for="password" class="form-label">Password*</label>
                    <input type="password" id="password" class="form-control" formControlName="password"
                        placeholder="Create a password" />
                    <small *ngIf="signupForm.get('password')?.errors?.['minlength']" class="text-danger">
                        Password must be at least 8 characters long.
                    </small>
                    <small *ngIf="signupForm.get('password')?.errors?.['pattern']" class="text-danger">
                        Password must contain at least one special character.
                    </small>
                </div>
                <!-- Submit Button -->
                <button type="submit" class="btn btn-primary w-100" [disabled]="signupForm.invalid">
                    Create account
                </button>
            </form>
            <div class="text-center mt-3">
                <p class="mt-2">
                    Already have an account? <a (click)="redirectToLogin()" class="login-link">Log in</a>
                </p>
            </div>
        </div>
    </div>

    <!-- Image Section -->
    <div class="col-md-7 image-section">
        <div class="testimonial">
        </div>
    </div>
</div>