.login-container {
    display: flex;
    align-items: stretch;
    min-height: 100vh;
}

.form-section {
    flex: 1;
    background-color: #fff;
    padding: 40px;
}

.image-section {
    flex: 1;
    background-image: url('https://media.mktg.workday.com/is/image/workday/screenshot-inventory-dashboard-desktop-13?fmt=png-alpha&wid=1800');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: flex-end;
    justify-content: start;
    padding: 30px;
    border-top-left-radius: 60px;
    border-bottom-left-radius: 60px;
}

.testimonial {
    color: #fff;
    max-width: 70%;
}

.testimonial p {
    font-size: 1.2rem;
    line-height: 1.5;
}

.testimonial h6 {
    font-size: 1rem;
    margin-top: 10px;
    font-weight: normal;
}

.login-link {
    text-decoration: underline;
    color: rgb(73, 199, 244);
    cursor: pointer;
}

.login-link:hover {
    color:rgb(130, 238, 218);
}

.btn-primary {
    background-color: #2bd6e2;
    border-color: #2baee2;
}

.btn-primary:hover {
    background-color: #31bacf;
    border-color: #319fdf;
}
.container {
    max-width: 80%;
    padding: 3%;
}